In [1]:
import pandas as pd
from neo4j_access import *
import numpy as np

/Users/joey/Desktop/uni/Master/neo4j_repository/.venv/lib/python3.9/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [2]:
query = "MATCH (s:Statement)-[:WAS_GIVEN_AT]->(e:ECC) WHERE toLower(s.text) CONTAINS 'biodiversity' RETURN e.time as datetime, e.title as conference_name, s.text as statement"

In [3]:
QueryNeo4J.initialize()
df = QueryNeo4J.commit_query(query=query)

Planner COST

Runtime SLOTTED

Runtime version 5.12

+------------------+----+------------------------------------------------------------------------------------------+----------------+
| Operator         | Id | Details                                                                                  | Estimated Rows |
+------------------+----+------------------------------------------------------------------------------------------+----------------+
| +ProduceResults  |  0 | datetime, conference_name, statement                                                     |       12722848 |
| |                +----+------------------------------------------------------------------------------------------+----------------+
| +Projection      |  1 | cache[e.time] AS datetime, cache[e.title] AS conference_name, cache[s.text] AS statement |       12722848 |
| |                +----+------------------------------------------------------------------------------------------+----------------+
| +Filter          |  2 | toLower(cache[s.text]) CONTAINS $autostring_0 AND s:Statement                            |       12722848 |
| |                +----+------------------------------------------------------------------------------------------+----------------+
| +Expand(All)     |  3 | (e)<-[anon_0:WAS_GIVEN_AT]-(s)                                                           |       16963797 |
| |                +----+------------------------------------------------------------------------------------------+----------------+
| +CacheProperties |  4 | cache[e.title], cache[e.time]                                                            |         272527 |
| |                +----+------------------------------------------------------------------------------------------+----------------+
| +NodeByLabelScan |  5 | e:ECC                                                                                    |         272527 |
+------------------+----+------------------------------------------------------------------------------------------+----------------+

Total database accesses: ?


query Execution Time: 48.347379 seconds

ðŸ“Š Query Result as DataFrame:
                                 datetime  \
0     2021-01-21T05:18:00.000000000+00:00
1     2019-10-17T01:33:00.000000000+00:00
2     2021-03-03T04:43:00.000000000+00:00
3     2022-11-29T11:31:00.000000000+00:00
4     2022-11-29T11:31:00.000000000+00:00
...                                   ...
1284  2022-04-27T11:01:00.000000000+00:00
1285  2020-12-07T03:01:00.000000000+00:00
1286  2020-12-07T03:01:00.000000000+00:00
1287  2013-11-26T02:31:00.000000000+00:00
1288  2022-07-11T12:31:00.000000000+00:00

                                        conference_name  \
0                            AA - Earnings call Q4 2020
1                            AA - Earnings call Q3 2019
2     AA - Alcoa Corporation (AA) CEO Roy Harvey on ...
3                 Analyst/Investor Day - AAK AB (publ.)
4                 Analyst/Investor Day - AAK AB (publ.)
...                                                 ...
1284                      YAR.OL - Earnings call 1 2022
1285                              YAR.OL - Special Call
1286                              YAR.OL - Special Call
1287                              YAR.OL - Investor Day
1288   Gold Fields Limited, Yamana Gold Inc. - M&A Call

                                              statement
0     Thanks, Bill. Let me turn to our market. In th...
1     Thanks Bill. As is our practice, we'll now tur...
2     Perfect. And thank you, Dave. What I'd like to...
3     Yes, I think that's right. I think that there'...
4     Thank you so much, Lidia. And once again, welc...
...                                                 ...
1284  Well, what we've seen now in terms of global f...
1285  Good morning. Five years ago, our organization...
1286  Well, hello, everybody. I'm Paul Polman, the f...
1287  Thank you, Dag Tore. And good morning, everyon...
1288  Yes, just to mention our country manager, Dani...

[1289 rows x 3 columns]

In [4]:
df["datetime"] = df["datetime"].astype(str)  # Convert Neo4j DateTime to string
df["datetime"] = pd.to_datetime(df["datetime"])  # Convert string to Pandas datetime

In [7]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289 entries, 0 to 1288
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   datetime         1289 non-null   datetime64[ns, UTC]
 1   conference_name  1289 non-null   object
 2   statement        1289 non-null   object
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 30.3+ KB

,datetime,conference_name,statement
0,2021-01-21 05:18:00+00:00,AA - Earnings call Q4 2020,"Thanks, Bill. Let me turn to our market. In th..."
1,2019-10-17 01:33:00+00:00,AA - Earnings call Q3 2019,"Thanks Bill. As is our practice, we'll now tur..."
2,2021-03-03 04:43:00+00:00,AA - Alcoa Corporation (AA) CEO Roy Harvey on ...,"Perfect. And thank you, Dave. What I'd like to..."
3,2022-11-29 11:31:00+00:00,Analyst/Investor Day - AAK AB (publ.),"Yes, I think that's right. I think that there'..."
4,2022-11-29 11:31:00+00:00,Analyst/Investor Day - AAK AB (publ.),"Thank you so much, Lidia. And once again, welc..."
...,...,...,...
1284,2022-04-27 11:01:00+00:00,YAR.OL - Earnings call 1 2022,"Well, what we've seen now in terms of global f..."
1285,2020-12-07 03:01:00+00:00,YAR.OL - Special Call,"Good morning. Five years ago, our organization..."
1286,2020-12-07 03:01:00+00:00,YAR.OL - Special Call,"Well, hello, everybody. I'm Paul Polman, the f..."
1287,2013-11-26 02:31:00+00:00,YAR.OL - Investor Day,"Thank you, Dag Tore. And good morning, everyon..."
1288,2022-07-11 12:31:00+00:00,"Gold Fields Limited, Yamana Gold Inc. - M&A Call","Yes, just to mention our country manager, Dani..."

In [8]:
df['before_tnfd_2022'] = np.where(pd.to_datetime(df['datetime']) < pd.Timestamp("2022-01-01", tz="UTC"), 1, 0)

In [10]:
df["before_tnfd_2022"].describe()

count    1289.000000
mean        0.666408
std         0.471679
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         1.000000
Name: before_tnfd_2022, dtype: float64

In [14]:
df["before_tnfd_2022"].value_counts()

before_tnfd_2022
1    859
0    430
Name: count, dtype: int64